@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    border-collapse: collapse;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e4e4e4;
}

/* COMMON CUSTOM CLASSES */
.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}



.display_info {
    display: flex;
    background-color: rgb(198, 207, 221);
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.same-row {
    display: flex;
    background-color: rgb(198, 223, 223);
}

.checker {
    background-color: rgb(49, 111, 111);
    height: 100px;
    width: 200px;
}

table.data-table {
    margin: 8px;
    border: 1px solid #0d0d0d;
    max-width: 800px;
}

table.data-table.large {
    
}

table.data-table > thead > tr {
    border: 3px solid rgb(11, 79, 73);
}

table.data-table > thead > tr > th {
    border-bottom: 2px solid #242424;
    padding: 6px;
    /* background-color: aqua; */
}

table.data-table > tbody > tr > td {
    border-right: 1px solid #242424;
    padding: 4px;
    /* background-color: salmon; */
}

table.data-table .action-btn {
    padding: 4px 8px;
}